@charset "utf-8";
/* banner */
.main_swiper{width: 100%; height: 690px;}
.main_swiper .swiper-slide{width: 100%; height: 100%; background-color: #000; display: flex; align-items: center; justify-content: center; position: relative;}
.main_swiper .swiper-slide a{position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.main_swiper .text_wrap {color: #fff; word-break: keep-all; max-width: 1200px;}
.main_swiper .text_wrap h4{font-size: 72px; font-weight: 600; text-align: center; margin-bottom: 15px; text-shadow: 3px 3px 3px black;}
.main_swiper .text_wrap p{font-size: 32px; font-weight: 400; text-align: center; white-space: pre-wrap; text-shadow: 3px 3px 3px black;}
.main_swiper .pagination_box{position: absolute; bottom: 50px; z-index: 1; width: 100%; display: flex; align-items: center; justify-content: center;}
.main_swiper .swiper-pagination-bullets{position: absolute; left: 50%; bottom: 80px; font-size: 0; transform: translateX(-50%); width: auto; display: inline-block;}
.main_swiper .swiper-pagination-bullets .swiper-pagination-bullet {width: 10px; height: 10px; border-radius: 5px; font-size: 0; text-align: center; color: rgba(255, 255, 255, 0); border: 1px solid #fff; opacity: 1; margin: 0 7.5px; background-color: transparent;}
.main_swiper .swiper-pagination-bullets .swiper-pagination-bullet-active {color: rgba(255, 255, 255, 0); background: #fff; width: 22px; height: 10px;}
.main_swiper .stop_btn{display: inline-block; width: 24px; height: 24px;  vertical-align: bottom; background: url(../icons/home/icon_pause.png) center no-repeat; background-size: contain; margin: 0 9px; font-size: 0;}
.main_swiper .stop_btn.stop{background: url(../icons/home/icon_play.png) center no-repeat; background-size: contain;}

/* type01 */
.solution_box{margin-top: 50px;}
.solution_box .swiper-wrapper{display: flex; justify-content: space-between;}
.solution_box .swiper-slide{width: 24%;}
.solution_box a{display: block; width: 100%; border: 1px solid #B7B7B7; position: relative;  padding: 90px 0 205px 0; background-color: #fff; transition: all .3s ease; background: url(../icons/home/icon_mainsolutin01.png) bottom 90px center no-repeat; background-size: 100px;}
.solution_box .swiper-slide:nth-child(2) a{background: url(../icons/home/icon_mainsolutin02.png) bottom 90px center no-repeat; background-size: 100px;}
.solution_box .swiper-slide:nth-child(3) a{background: url(../icons/home/icon_mainsolutin03.png) bottom 90px center no-repeat; background-size: 100px;}
.solution_box .swiper-slide:nth-child(4) a{background: url(../icons/home/icon_mainsolutin04.png) bottom 90px center no-repeat; background-size: 100px;}
.solution_box a h4{font-size: 22px; font-weight: 700; letter-spacing: -0.03em; text-align: center; color: #333; margin-bottom: 10px; transition: all .3s ease;}
.solution_box a p{font:var(--b1); color: #717171; text-align: center; transition: all .3s ease;}
.solution_box a:hover{border: 1px solid var(--col_acc); transition: all .3s ease; background: var(--col_acc) url(../icons/home/icon_mainsolutin01_hover.png) bottom 90px center no-repeat; background-size: 100px;}
.solution_box .swiper-slide:nth-child(2) a:hover{background: var(--col_acc) url(../icons/home/icon_mainsolutin02_hover.png) bottom 90px center no-repeat; background-size: 100px;}
.solution_box .swiper-slide:nth-child(3) a:hover{background: var(--col_acc) url(../icons/home/icon_mainsolutin03_hover.png) bottom 90px center no-repeat; background-size: 100px;}
.solution_box .swiper-slide:nth-child(4) a:hover{background: var(--col_acc) url(../icons/home/icon_mainsolutin04_hover.png) bottom 90px center no-repeat; background-size: 100px;}
.solution_box a:hover h4{color: #fff; transition: all .3s ease;}
.solution_box a:hover p{color: #fff; transition: all .3s ease;}

/* type02*/
.type02_swiper .swiper-wrapper{display: flex; justify-content: space-between; flex-wrap: wrap;}
.type02_box{width: 23%;}
.type02_swiper .swiper-button-next{display: none;}
.type02_swiper .swiper-button-prev{display: none;}


/* type03 */
.type03_swiper{margin-top: 50px;}
.type03_swiper .swiper-wrapper{display: flex; justify-content: space-between; flex-wrap: wrap;}
.type03_box{background: #fff; border: 1px solid #EAEAEA; width: 47.5%; padding: 55px 40px 105px 60px; position: relative; border-radius: 0px 0px 0px 20px; overflow: hidden;}
.type03_box:nth-child(3), .type03_box:nth-child(4){margin-top: 60px;}
.type03_swiper .swiper-pagination{text-align: center; display: none;}
.type03_swiper .swiper-pagination-bullet{font-size: 0; background-color: #D9D9D9; opacity: 1;}
.type03_swiper .swiper-pagination-bullet-active{background-color: #000;}

/* 일반소개 타입2 */
.normal_type02 .swiper-pagination-bullets{position: relative; bottom: 0;}
.normal_type02 .swiper-pagination-bullet {background-color: #d9d9d9; font-size: 0; opacity: 1}
.normal_type02 .swiper-pagination-bullet-active {background-color: #000}

@media screen and (max-width: 1200px) {
	/* banner */
	.main_swiper .swiper-slide{padding: 0 115px;}
	.main_swiper .text_wrap {margin-bottom: 80px; width: 90%;}
	.main_swiper .text_wrap h4{font-size: 40px; font-weight: 400; margin-bottom: 20px;}
	.main_swiper .text_wrap p{font-size: 22px; font-weight: 400;}

	/* type01 */
    .solution_box{padding: 0 20px; margin-top: 40px;}
	.solution_box .swiper-slide{width: 48%; margin-right: 2%;}
	.solution_box .swiper-slide:last-child{margin-right: 0;}
	.solution_box a h4{font-size: 22px;}
	.solution_box a p{font-size: 18px;}
	.solution_box a{padding: 90px 0 205px 0; background-color: #fff; background: url(../icons/home/icon_mainsolutin01.png) bottom 90px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(2) a{background: url(../icons/home/icon_mainsolutin02.png) bottom 90px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(3) a{background: url(../icons/home/icon_mainsolutin03.png) bottom 90px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(4) a{background: url(../icons/home/icon_mainsolutin04.png) bottom 90px center no-repeat; background-size: 100px;}
	.solution_box a:hover{border: 1px solid #B7B7B7; background-color: #fff; background: url(../icons/home/icon_mainsolutin01.png) bottom 90px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(2) a:hover{background: url(../icons/home/icon_mainsolutin02.png) bottom 90px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(3) a:hover{background: url(../icons/home/icon_mainsolutin03.png) bottom 90px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(4) a:hover{background: url(../icons/home/icon_mainsolutin04.png) bottom 90px center no-repeat; background-size: 100px;}
	.solution_box a:hover h4{color: #333;}
	.solution_box a:hover p{color: #717171;}

	/* type02 */
	.type02_box{width: 46%;}
	.type02_box:nth-child(3), .type02_box:nth-child(4){margin-top: 50px;}

	/* type03 */
	.type03_swiper{margin-top: 40px;}
	.type03_box{width: 49%; padding: 50px 0 95px 50px;}
	.type03_box:nth-child(3), .type03_box:nth-child(4){margin-top: 15px;}

}
@media screen and (max-width: 768px) {
	/* banner */
	.main_swiper{height: 480px;}
	.main_swiper .swiper-slide{padding: 0 20px; align-items: center;}
	.main_swiper .text_wrap {margin-bottom: 80px;}
	.main_swiper .text_wrap h4{font-size:24px; margin-bottom: 20px;}
	.main_swiper .text_wrap p{font-size: 12px;}

	/* type01 */
    .solution_box{padding: 0 20px; margin-top: 30px;}
	.solution_box .swiper-slide{width: 100%; margin-right: 10px;}
	.solution_box a{padding: 50px 0 150px 0; background-color: #fff; background: url(../icons/home/icon_mainsolutin01.png) bottom 40px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(2) a{background: url(../icons/home/icon_mainsolutin02.png) bottom 40px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(3) a{background: url(../icons/home/icon_mainsolutin03.png) bottom 40px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(4) a{background: url(../icons/home/icon_mainsolutin04.png) bottom 40px center no-repeat; background-size: 100px;}
	.solution_box a:hover{border: 1px solid #B7B7B7; background-color: #fff; background: url(../icons/home/icon_mainsolutin01.png) bottom 40px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(2) a:hover{background: url(../icons/home/icon_mainsolutin02.png) bottom 40px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(3) a:hover{background: url(../icons/home/icon_mainsolutin03.png) bottom 40px center no-repeat; background-size: 100px;}
	.solution_box .swiper-slide:nth-child(4) a:hover{background: url(../icons/home/icon_mainsolutin04.png) bottom 40px center no-repeat; background-size: 100px;}
	.solution_box a h4{font-size: 22px;}
	.solution_box a p{font-size: 18px;}

	/* type02 */
	.type02_swiper .swiper-wrapper {justify-content: normal; flex-wrap: nowrap;}
	.type02_box{width: 100%; margin-right: 0;}
	.type02_box:nth-child(3), .type02_box:nth-child(4){margin-top: 0;}
	.type02_swiper .swiper-button-next{display: block; width: 40px; height: 40px; background: #fff url(../icons/home/icon_slider_type02_next.png) center no-repeat; background-size: 10px 20px; border: 1px solid var(--col_acc); border-radius: 20px;}
	.type02_swiper .swiper-button-prev{display: block; width: 40px; height: 40px; background: #fff url(../icons/home/icon_slider_type02_prev.png) center no-repeat; background-size: 10px 20px; border: 1px solid var(--col_acc); border-radius: 20px;}
	.swiper-button-next:after, .swiper-button-prev:after{display: none;}
	.type02_swiper .swiper-button-next.swiper-button-disabled{width: 40px; height: 40px; background: #fff url(../icons/home/icon_slider_type02_next_end.png) center no-repeat; background-size: 10px 20px; border: 1px solid #4F4F4F; border-radius: 20px; opacity: .5;}
	.type02_swiper .swiper-button-prev.swiper-button-disabled{width: 40px; height: 40px; background: #fff url(../icons/home/icon_slider_type02_prev_end.png) center no-repeat; background-size: 10px 20px; border: 1px solid #4F4F4F; border-radius: 20px; opacity: .5;}
	.swiper-button-next, .swiper-rtl .swiper-button-prev{right: 2px; left: auto; top: 43%;}
	.swiper-button-prev, .swiper-rtl .swiper-button-next{right: auto; left: 2px; top: 43%;}

	/* type03 */
	.type03_swiper .swiper-wrapper{justify-content: normal; flex-wrap: nowrap;}
	.type03_box{width: 100%; padding: 50px 0 105px 50px;}
	.type03_box:nth-child(3), .type03_box:nth-child(4){margin-top: 0;}
	.type03_swiper .swiper-pagination{display: block; position: relative; bottom: 0; margin-top: 10px;}

}